
{% set checkoutKey  = NetsEasyPay.settings.getSetting('checkoutKey') %}
{% set MethodIds  = NetsEasyPay.MethodIds %}


<div class="custom-widget-wrapper">
  {% if isShopBuilder %}
    <p>This will only be displayed in the ShopBuilder, but not when the page is loaded in the frontend/shop.</p>
  {% else %}

  <ww-widget-paynow checkout-key="{{ checkoutKey }}" MethodIds:'{{ MethodId }}'/>

  {% endif %}
</div>
